<?xml version="1.0"?>
  <phpunit 
  colors="true"
   convertErrorsToExceptions="true" 
   convertNoticesToException="true"
   convertWarningsToException="true"
   processIsolation="false"
   stopOnFailure="false"
   syntaxCheck="true">
   <testsuites>
    <testsuite name ="Test suite">
      <directory>.</directory>
    </testsuite>
   </testsuites>
   </phpunit>
