<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/css/nouislider.min.css">
    <link rel="stylesheet" href="../../assets/css/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/plyr.css">
    <link rel="stylesheet" href="../../assets/css/photoswipe.css">
    <link rel="stylesheet" href="../../assets/css/default-skin.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../../assets/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../../assets/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>Magic Cinema - Aviso Legal</title>

</head>

<body class="body">

    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a href="../../index.php" class="header__logo">
                                <img src="../../assets/img/Magic_Cinema-removebg-preview.png" alt="">
                            </a>
                            <!-- end header logo -->

                            <!-- header nav -->
                            <ul class="header__nav">
                                <li class="header__nav-item">
                                    <a href="../cartelera.php" class="header__nav-link">Cartelera</a>
                                </li>
                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a href="../promociones.php" class="header__nav-link">Promociones</a>
                                </li>
                                <!-- end dropdown -->

                                <li class="header__nav-item">
                                    <a href="../experiencias.php" class="header__nav-link">Experiencias</a>
                                </li>

                                <li class="header__nav-item">
                                    <a href="../contactanos.php" class="header__nav-link">Contactanos</a>
                                </li>
                                <!-- end dropdown -->
                            </ul>
                            <!-- end header nav -->

                            <!-- header auth -->
                            <div class="header__auth">
                                <a href="FormLogin.html" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <span>Iniciar Sesión</span>
                                </a>
                            </div>
                            <a href="FormRegister.html" class="header__sign-in">
                                <i class="icon ion-ios-log-in"></i>
                                <span>Registrarse</span>
                            </a>
                            <!-- end header auth -->

                            <!-- header menu btn -->
                            <button class="header__btn" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <!-- end header menu btn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="home">
        <!-- home bg -->
        <div class="owl-carousel home__bg">

            <div class="item home__cover" data-bg="../../assets/img/home/home__bg4.jpg"></div>
        </div>
        <!-- end home bg -->
    </section>

    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Aviso Legal - Objetivo</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">El presente Aviso Legal regula las
                            condiciones de uso del sitio web www.Magic Cinema.es (en adelante, el “Web”) que Magic Cinema - COMPAÑÍA
                            DE INICIATIVAS Y ESPECTÁCULOS, S.A. (en adelante, “Magic Cinema”) pone a disposición de los
                            usuarios con el fin de proporcionarles información sobre productos y servicios, propios o de
                            terceros colaboradores, y facilitarles el acceso a los mismos (todo ello denominado,
                            conjuntamente, los Servicios).</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">La utilización del Web atribuye la
                            condición de usuario del Web (en adelante, el “Usuario”), lo cual implica la adhesión al
                            Aviso Legal en la versión publicada en el momento en que se acceda a la misma. Magic Cinema se
                            reserva el derecho de modificar, en cualquier momento y sin previo aviso, la presentación y
                            configuración del Web, así como su Aviso Legal. Por ello, Magic Cinema recomienda al Usuario leer
                            el Aviso Legal atentamente cada vez que acceda al Web.
                            La utilización de la Web no está dirigida a menores de 14 años, y por consiguiente, éstos
                            deberán abstenerse de facilitar cualquier información de carácter personal. En este sentido,
                            Magic Cinema recomienda la utilización de la Web a personas mayores de 18 años. Para ello, Magic Cinema
                            se reserva el derecho a comprobar en cualquier momento la edad de los Usuarios. El mero
                            acceso al Web implica el conocimiento y respeto del presente Aviso Legal.</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">El acceso a determinados Servicios
                            puede encontrarse sometido a condiciones particulares propias que, según los casos,
                            sustituyen, complementan y/o modifican este Aviso Legal. Por tanto, con anterioridad al
                            acceso y/o utilización de dichos Servicios, el Usuario ha de leer atentamente también las
                            correspondientes condiciones particulares.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Aviso Legal - Acceso y Seguridad</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Con carácter general, los Usuarios
                            podrán acceder al Web de forma libre y gratuita, sin perjuicio del coste de conexión a
                            través de la red de telecomunicaciones suministrada por el proveedor de acceso a internet
                            (contratado por el Usuario)</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">No obstante, para la utilización
                            de ciertos servicios, tales como la descarga de cupones promocionales, acceso a sección
                            myMagic Cinema, etc. será necesario el registro en el Web como miembro del programa de
                            fidelización myMagic Cinema facilitando un nombre de usuario (consistente en una dirección de
                            e-mail) y clave de acceso. Este registro se puede realizar desde el propio Web, de manera
                            gratuita, y permite la identificación del Usuario en múltiples dispositivos.</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Asimismo, algunos servicios como
                            la suscripción Unlimited Card, pueden requerir el registro de alguna información adicional,
                            como una foto del usuario, o en su caso, información anonimizada sobre la tarjeta de
                            crédito/débito para la realización de pagos mensuales recurrentes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Aviso Legal - Utilización correcta de los servicios</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">El Usuario se obliga a usar los
                            Servicios de forma diligente, correcta y lícita y, en particular, se compromete a abstenerse
                            de:

                        </p>
                        <ol>
                            <li style="color: #fff; font-family: 'Open Sans', sans-serif;">utilizar los Servicios de forma, con fines o efectos contrarios a la ley, a la moral y a
                                las buenas costumbres generalmente aceptadas o al orden público;</li>
                            <li style="color: #fff; font-family: 'Open Sans', sans-serif;">reproducir o copiar, distribuir, permitir el acceso del público a través de cualquier
                                modalidad de comunicación pública, transformar o modificar los Servicios, a menos que se
                                cuente con la autorización del titular de los correspondientes derechos o ello resulte
                                legalmente permitido;</li>
                            <li style="color: #fff; font-family: 'Open Sans', sans-serif;">vulnerar derechos de propiedad intelectual o industrial pertenecientes a Magic Cinema o a
                                terceros; y</li>
                            <li style="color: #fff; font-family: 'Open Sans', sans-serif;">emplear los Servicios y, en particular, la información de cualquier clase obtenida a
                                través del Web para remitir publicidad, comunicaciones con fines de venta directa o con
                                cualquier otra clase de finalidad comercial, mensajes no solicitados dirigidos a una
                                pluralidad de personas con independencia de su finalidad, así como comercializar o
                                divulgar de cualquier modo dicha información.</li>
                        </ol>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">El Usuario responderá de los daños
                            y perjuicios de toda naturaleza que Magic Cinema pueda sufrir, directa o indirectamente, como
                            consecuencia del incumplimiento de cualquiera de las obligaciones derivadas del presente
                            Aviso Legal, de la Política de Privacidad y de la Política de Cookies, de las
                            correspondientes condiciones particulares o de la ley en relación con la utilización del
                            Web.</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Magic Cinema velará en todo momento por
                            el respeto del ordenamiento jurídico vigente, y estará legitimada para interrumpir, a su
                            entera discreción, los Servicios o excluir al Usuario del Web en caso de presunta comisión,
                            completa o incompleta, de alguno de los delitos o faltas tipificados por el Código Penal
                            vigente, o en caso de observar cualesquiera conductas que a juicio de Magic Cinema resulten
                            contrarias a la moral, el orden público, las buenas costumbres o las reglas internas de
                            Magic Cinema o sus colaboradores o puedan perturbar el buen funcionamiento, imagen, credibilidad
                            y/o prestigio de Magic Cinema o sus colaboradores. En cualquier caso, Magic Cinema no tiene obligación
                            de controlar y no controla los contenidos transmitidos, difundidos o puestos a disposición
                            de terceros por los Usuarios o colaboradores, salvo los supuestos en que así lo exija la
                            legislación vigente o cuando sea requerido por una Autoridad Judicial o Administrativa
                            competente.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Aviso Legal - Derechos de propiedad intelectual e industrial</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Todos los contenidos del Web
                            (tales como textos, gráficos, fotografías, ilustraciones, logotipos, iconos, imágenes,
                            videos, nombres comerciales, marcas o signos distintivos, el diseño gráfico, código fuente,
                            software y cualesquiera elementos que aparecen en el Web), son titularidad exclusiva de
                            Magic Cinema o de terceros, cuyos derechos reconoce Magic Cinema, y están sujetos a derechos de
                            propiedad intelectual e industrial protegidos por la legislación nacional e internacional.
                        </p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">No se cede al Usuario ningún
                            derecho de propiedad intelectual o industrial sobre el Web ni sobre ninguno de sus elementos
                            integrantes, quedando expresamente prohibido al Usuario la reproducción, transformación,
                            distribución, comunicación pública, puesta a disposición, extracción, reutilización, o la
                            utilización de cualquier naturaleza, por cualquier medio o procedimiento, de cualquiera de
                            ellos, salvo en los casos en que esté legalmente permitido o sea autorizado por el titular
                            de los correspondientes derechos..</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">El Usuario podrá visualizar y
                            obtener una copia privada temporal de los contenidos del Web para su exclusivo uso personal,
                            privado y no colectivo en sus sistemas informáticos (software y hardware), siempre que no
                            sea con la finalidad de desarrollar actividades colectivas o de carácter comercial o
                            profesional. El Usuario deberá abstenerse de obtener, o intentar obtener, los contenidos del
                            Web por medios o procedimientos distintos de los que en cada caso se hayan puesto a su
                            disposición o indicado al efecto o de los que se utilicen habitualmente en Internet (siempre
                            que estos últimos no entrañen un riesgo de daño o inutilización del Web). El usuario deberá
                            respetar en todo momento todos los derechos de propiedad intelectual e industrial sobre el
                            Web, titularidad de Magic Cinema o de terceros.
                            La infracción de cualquiera de los citados derechos puede constituir una vulneración de las
                            presentes disposiciones, así como un delito castigado de acuerdo con los artículos 270 y
                            siguientes del Código Penal.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- footer -->
    <footer class=" footer">
        <div class="container">
            <div class="row justify-content-center">
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Sobre nosotros</h6>
                    <ul class="footer__list">
                        <li><a href="QuienesSomos.html">Quienés somos</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
    
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Legal</h6>
                    <ul class="footer__list">
                        <li><a href="AvisLegal.html">Aviso Legal</a></li>
                        <li><a href="CondicionesCompra.html">Condiciones de compra</a></li>
                        <li><a href="politicas.html">Políticas de privacidad</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
    
                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3">
                    <h6 class="footer__title">Contacto</h6>
                    <ul class="footer__list">
                        <li><a href="tel:+34624233403">+34 624 23 34 03</a></li>
                        <li><a href="mailto:atencionalclient@cinemmagic.com">atencionalclient@magiccinema.com</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- JS -->
    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/owl.carousel.min.js"></script>
    <script src="../../assets/js/jquery.mousewheel.min.js"></script>
    <script src="../../assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/wNumb.js"></script>
    <script src="../../assets/js/nouislider.min.js"></script>
    <script src="../../assets/js/plyr.min.js"></script>
    <script src="../../assets/js/jquery.morelines.min.js"></script>
    <script src="../../assets/js/photoswipe.min.js"></script>
    <script src="../../assets/js/photoswipe-ui-default.min.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html>