<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/css/nouislider.min.css">
    <link rel="stylesheet" href="../../assets/css/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/plyr.css">
    <link rel="stylesheet" href="../../assets/css/photoswipe.css">
    <link rel="stylesheet" href="../../assets/css/default-skin.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../../assets/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../../assets/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>Magic Cinema - Condiciones de Compra</title>

</head>

<body class="body">

    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a href="../../index.php" class="header__logo">
                                <img src="../../assets/img/Magic_Cinema-removebg-preview.png" alt="">
                            </a>
                            <!-- end header logo -->

                            <!-- header nav -->
                            <ul class="header__nav">
                                <li class="header__nav-item">
                                    <a href="../cartelera.php" class="header__nav-link">Cartelera</a>
                                </li>
                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a href="../promociones.php" class="header__nav-link">Promociones</a>
                                </li>
                                <!-- end dropdown -->

                                <li class="header__nav-item">
                                    <a href="../experiencias.php" class="header__nav-link">Experiencias</a>
                                </li>

                                <li class="header__nav-item">
                                    <a href="../contactanos.php" class="header__nav-link">Contactanos</a>
                                </li>
                                <!-- end dropdown -->
                            </ul>
                            <!-- end header nav -->

                            <!-- header auth -->
                            <div class="header__auth">
                                <a href="FormLogin.html" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <span>Iniciar Sesión</span>
                                </a>
                            </div>
                            <a href="FormRegister.html" class="header__sign-in">
                                <i class="icon ion-ios-log-in"></i>
                                <span>Registrarse</span>
                            </a>
                            <!-- end header auth -->

                            <!-- header menu btn -->
                            <button class="header__btn" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <!-- end header menu btn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="home">
        <!-- home bg -->
        <div class="owl-carousel home__bg">

            <div class="item home__cover" data-bg="../../assets/img/home/home__bg4.jpg"></div>
        </div>
        <!-- end home bg -->
    </section>

    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Condiciones de Compra - Objetivo</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Las presentes condiciones regulan
                            el acceso y utilización del sitio web www.Magic Cinema.es (en adelante, el “Web”) y/o la
                            aplicación para teléfonos móviles (en adelante, la “Aplicación”) que Magic Cinema – COMPAÑÍA DE
                            INICIATIVAS Y ESPECTÁCULOS, S.A., que actúa bajo el nombre comercial Magic Cinema (en adelante,
                            “Magic Cinema”) pone a disposición de los usuarios que acceden al Web para la realización de
                            compras de bienes y servicios, como por ejemplo entradas de cine, gafas 3D, productos de
                            bar, tarjetas de fidelización y paquetes de suscripción (en adelante, los “Usuarios”, los
                            “Productos” y los “Servicios”) a través de los mecanismos habilitados al efecto en el propio
                            Web o la Aplicación, así como el establecimiento de relaciones comerciales entre el Usuario
                            y Magic Cinema derivadas de la compra de los Productos.</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">El acceso y uso del Web y/o de la
                            Aplicación es gratuito sin perjuicio del coste de conexión a través de la red de
                            telecomunicaciones suministrada por el proveedor de acceso a internet (contratado por el
                            Usuario) y del precio de los Productos que el Usuario adquiera a través del mismo y que
                            requiere de la aceptación por el Usuario de esas condiciones particulares, las cuales
                            regulan el uso (incluyendo el mero acceso) de las páginas web integrantes del Web y/o la
                            Aplicación para la compra de Productos (en adelante, las “Condiciones de Uso para Compra”).
                        </p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Ciertos Productos podrán asimismo
                            quedar regulados por condiciones particulares o, en el caso de promociones, por sus propias
                            bases legales de participación, las cuales, en caso de conflicto, prevalecerán sobre las
                            Condiciones de Uso para Compra (las “Condiciones Particulares”).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Condiciones de Compra - Uso de la Web</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Magic Cinema adopta medidas de seguridad
                            razonablemente adecuadas para detectar la existencia de virus. No obstante, el Usuario debe
                            ser consciente de que las medidas de seguridad de los sistemas informáticos en Internet no
                            son inexpugnables y que, por tanto, Magic Cinema no puede garantizar la inexistencia de virus,
                            software malicioso, gusanos, ataques de ingeniería social de terceros (phising, pharming,
                            troyanos, etc.) u otros elementos que puedan producir alteraciones en los sistemas
                            informáticos (software y hardware) del Usuario o en sus documentos electrónicos y ficheros
                            contenidos en los mismos.</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Magic Cinema excluye toda
                            responsabilidad que se pudiera derivar por causas ajenas a Magic Cinema de (i) interferencias,
                            omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el
                            funcionamiento operativo del sistema electrónico; o (ii) retrasos o bloqueos en el
                            funcionamiento operativo del sistema electrónico causado por deficiencias o sobrecarga en
                            las líneas telefónicas o en Internet, así como daños causados por terceros.</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Magic Cinema está facultada para
                            suspender temporalmente, y sin previo aviso, el acceso al Web y/o la Aplicación con motivo
                            de operaciones de mantenimiento, reparación, actualización o mejora.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Condiciones de Compra - Productos</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Cada uno de los Productos que se
                            ofrecen mediante el Web y/o la Aplicación está sujeto a sus propias Condiciones
                            Particulares. Estas Condiciones Particulares de cada Producto incluyen, entre otros
                            aspectos, la descripción del Producto, así como cualesquiera particularidades que se deriven
                            del mismo, como, por ejemplo, si existe alguna limitación temporal para su recogida, en su
                            caso, y disfrute en el Cine (entendiéndose este término como cualquier cine titularidad de
                            Magic Cinema (Magic Cinema.es/Cines)) una vez es adquirido a través del Web y/o la Aplicación. Estas
                            Condiciones Particulares se dan a conocer al Usuario antes de realizar la compra.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <footer class=" footer">
        <div class="container">
            <div class="row">
                <!-- footer list -->
                <div class="col-12 col-md-3">
                    <h6 class="footer__title"> </h6>
                    <ul class="footer__app">
                        <li><a href="#"><img src="img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
                        <li><a href="#"><img src="img/google-play-badge.png" alt=""></a></li>
                    </ul>
                </div>
                <!-- end footer list -->

                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Sobre nosotros</h6>
                    <ul class="footer__list">
                        <li><a href="QuienesSomos.html">Quienés somos</a></li>
                        <li><a href="#">Apoyo Institucional</a></li>
                    </ul>
                </div>
                <!-- end footer list -->

                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Legal</h6>
                    <ul class="footer__list">
                        <li><a href="AvisLegal.html">Aviso Legal</a></li>
                        <li><a href="CondicionesCompra.html">Condiciones de compra</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
                <!-- end footer list -->

                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3">
                    <h6 class="footer__title">Contacto</h6>
                    <ul class="footer__list">
                        <li><a href="tel:+34624233403">+34 624 23 34 03</a></li>
                        <li><a href="mailto:atencionalclient@cinemmagic.com">atencionalclient@magiccinema.com</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- JS -->
    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/owl.carousel.min.js"></script>
    <script src="../../assets/js/jquery.mousewheel.min.js"></script>
    <script src="../../assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/wNumb.js"></script>
    <script src="../../assets/js/nouislider.min.js"></script>
    <script src="../../assets/js/plyr.min.js"></script>
    <script src="../../assets/js/jquery.morelines.min.js"></script>
    <script src="../../assets/js/photoswipe.min.js"></script>
    <script src="../../assets/js/photoswipe-ui-default.min.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html>