<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="../../assets/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../../assets/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="../../assets/css/nouislider.min.css">
	<link rel="stylesheet" href="../../assets/css/ionicons.min.css">
	<link rel="stylesheet" href="../../assets/css/plyr.css">
	<link rel="stylesheet" href="../../assets/css/photoswipe.css">
	<link rel="stylesheet" href="../../assets/css/default-skin.css">
	<link rel="stylesheet" href="../../assets/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="../../assets/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="../../assets/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../../assets/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../../assets/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../../assets/icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>Magic Cinema - Registro</title>

</head>

<body class="body">
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="../../index.php" class="header__logo">
								<img src="../../assets/img/Magic_Cinema-removebg-preview.png" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<li class="header__nav-item">
									<a href="../cartelera.php" class="header__nav-link">Cartelera</a>
								</li>
								<!-- dropdown -->
								<li class="header__nav-item">
									<a href="../promociones.php" class="header__nav-link">Promociones</a>
								</li>
								<!-- end dropdown -->

								<li class="header__nav-item">
									<a href="../experiencias.php" class="header__nav-link">Experiencias</a>
								</li>

								<li class="header__nav-item">
									<a href="../contactanos.php" class="header__nav-link">Contactanos</a>
								</li>
								<!-- end dropdown -->
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">
								<a href="FormLogin.html" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>Iniciar Sesión</span>
								</a>
							</div>
							<a href="FormRegister.html" class="header__sign-in">
								<i class="icon ion-ios-log-in"></i>
								<span>Registrarse</span>
							</a>
							<!-- end header auth -->

							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="sign section--bg" data-bg="../../assets/img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<form action="../Register.php" method="post" class="sign__form">
							<a href="../../index.php" class="sign__logo">
								<img src="../../assets/img/logo.png" alt="">
							</a>

							<div class="sign__group">
								<input type="text" name="user" class="sign__input" placeholder="Nombre de usuario">
							</div>

							<div class="sign__group">
								<input type="password" name="password" class="sign__input" placeholder="Contraseña">
							</div>

							<div class="sign__group">
								<input type="email" name="email" class="sign__input" placeholder="Correo electrónico">
							</div>

							<div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">Estoy de acuerdo con la <a href="#">política de
										privacidad</a></label>
							</div>

							<button class="sign__btn" type="submit">Regístrate ahora</button>

							<span class="sign__text">¿Ya tienes una cuenta? <a href="FormLogin.html">¡Iniciar
									sesión!</a></span>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="../../assets/js/jquery-3.3.1.min.js"></script>
	<script src="../../assets/js/bootstrap.bundle.min.js"></script>
	<script src="../../assets/js/owl.carousel.min.js"></script>
	<script src="../../assets/js/jquery.mousewheel.min.js"></script>
	<script src="../../assets/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="../../assets/js/wNumb.js"></script>
	<script src="../../assets/js/nouislider.min.js"></script>
	<script src="../../assets/js/plyr.min.js"></script>
	<script src="../../assets/js/jquery.morelines.min.js"></script>
	<script src="../../assets/js/photoswipe.min.js"></script>
	<script src="../../assets/js/photoswipe-ui-default.min.js"></script>
	<script src="../../assets/js/main.js"></script>
</body>

</html>