<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/css/nouislider.min.css">
    <link rel="stylesheet" href="../../assets/css/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/plyr.css">
    <link rel="stylesheet" href="../../assets/css/photoswipe.css">
    <link rel="stylesheet" href="../../assets/css/default-skin.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Magic Cinema - políticas</title>

</head>

<body class="body">

    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a href="../../index.php" class="header__logo">
                                <img src="../../assets/img/Magic_Cinema-removebg-preview.png" alt="">
                            </a>
                            <!-- end header logo -->

                            <!-- header nav -->
                            <ul class="header__nav">
                                <li class="header__nav-item">
                                    <a href="../cartelera.php" class="header__nav-link">Cartelera</a>
                                </li>
                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a href="../promociones.php" class="header__nav-link">Promociones</a>
                                </li>
                                <!-- end dropdown -->

                                <li class="header__nav-item">
                                    <a href="../experiencias.php" class="header__nav-link">Experiencias</a>
                                </li>

                                <li class="header__nav-item">
                                    <a href="../contactanos.php" class="header__nav-link">Contactanos</a>
                                </li>
                                <!-- end dropdown -->
                            </ul>
                            <!-- end header nav -->

                            <!-- header auth -->
                            <div class="header__auth">
                                <a href="../../views/html/FormLogin.html" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <span>Iniciar Sesión</span>
                                </a>
                            </div>
                            <a href="../../views/html/FormRegister.html" class="header__sign-in">
								<i class="icon ion-ios-log-in"></i>
								<span>Registrarse</span>
							</a>
                            <!-- end header auth -->

                            <!-- header menu btn -->
                            <button class="header__btn" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <!-- end header menu btn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    	<!-- home -->
		<section class="section section--first section--bg">
			<!-- home bg -->
			<div class="owl-carousel home__bg">
				<div class="item home__cover" data-bg="../../assets/img/home/home__bg.jpg"></div>
				<div class="item home__cover" data-bg="../../assets/img/home/home__bg2.jpg"></div>
				<div class="item home__cover" data-bg="../../assets/img/home/home__bg3.jpg"></div>
				<div class="item home__cover" data-bg="../../assets/img/home/home__bg4.jpg"></div>
			</div>
			<!-- end home bg -->
		</section>

    <section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title"><b>Magic Cinema</b> – Políticas de privacidad</h2>
				</div>
				<!-- end section title -->

				<!-- section text -->
				<div class="col-12">
                    <p class="section__text section__text--last-with-margin">Última actualización: <b>02/12/2023</b></p>
					<p class="section__text section__text--last-with-margin">Bienvenido/a al <b>cine LaFinca Grand Café</b>, operado por <b>Magic Cinema</b>. En <b>Magic Cinema</b>, nos comprometemos a proteger tu privacidad en línea. Esta política de privacidad explica cómo recopilamos, utilizamos y protegemos la información personal que puedas proporcionarnos a través de nuestro sitio web.</p>
                    
                    <h2 class="section__title"><b>Información que Recopilamos</b></h2>
                    <h3 class="feature__title">Información Personal</h3>
					<p class="section__text section__text--last-with-margin">Recopilamos información personal que nos proporcionas voluntariamente al registrarte, realizar una compra o participar en nuestras promociones. Esta información puede incluir tu nombre, dirección de correo electrónico, número de teléfono y detalles de pago.</p>

                    <h3 class="feature__title">Información de Navegación</h3>
					<p class="section__text section__text--last-with-margin">Recopilamos información no identificable personalmente, como direcciones IP, tipo de navegador, páginas visitadas y la duración de la visita. Esta información se utiliza para mejorar la experiencia del usuario y analizar tendencias de tráfico.</p>

                    <h3 class="feature__title">Uso de la Información</h3>
                    <p class="section__text section__text--last-with-margin">Utilizamos la información recopilada para:</p>
					<p class="section__text section__text--last-with-margin">- Procesar tus transacciones y proporcionar los servicios solicitados.</p>
                    <p class="section__text section__text--last-with-margin">- Personalizar tu experiencia en el sitio y ofrecer contenido relevante.</p>
                    <p class="section__text section__text--last-with-margin">- Enviar comunicaciones promocionales y actualizaciones, si has dado tu consentimiento.</p>
                    <p class="section__text section__text--last-with-margin">- Mejorar nuestro sitio web y servicios mediante análisis y retroalimentación.</p>

                    <h3 class="feature__title">Compartir Información</h3>
                    <p class="section__text section__text--last-with-margin">No vendemos, intercambiamos ni transferimos tu información personal a terceros sin tu consentimiento, excepto cuando sea necesario para proporcionar los servicios solicitados o cumplir con la ley.</p>
                    
                    <h3 class="feature__title">Cookies y Tecnologías Similares</h3>
                    <p class="section__text section__text--last-with-margin">Utilizamos cookies y tecnologías similares para mejorar la funcionalidad del sitio y personalizar tu experiencia. Puedes gestionar tus preferencias de cookies a través de la configuración de tu navegador.</p>
				
                    <h3 class="feature__title">Seguridad de la Información</h3>
                    <p class="section__text section__text--last-with-margin">Implementamos medidas de seguridad para proteger tu información contra accesos no autorizados, pérdidas, alteraciones o divulgaciones.</p>

                    <h3 class="feature__title">Enlaces a Terceros</h3>
                    <p class="section__text section__text--last-with-margin">Nuestro sitio web puede contener enlaces a sitios de terceros. No nos hacemos responsables de las prácticas de privacidad de esos sitios y te recomendamos revisar sus políticas de privacidad.</p>

                    <h3 class="feature__title">Cambios en la Política de Privacidad</h3>
                    <p class="section__text section__text--last-with-margin">Nos reservamos el derecho de actualizar esta política en cualquier momento. Te notificaremos sobre cambios significativos mediante un aviso en nuestro sitio web.</p>

                    <h3 class="feature__title">Contacto</h3>
                    <p class="section__text section__text--last-with-margin">Si tienes preguntas sobre esta política de privacidad, contáctanos a través de <b><a href="mailto:atencionalclient@cinemmagic.com">atencionalclient@magiccinema.com</a></b>.</p>
                    <p class="section__text section__text--last-with-margin">Al utilizar nuestro sitio web, aceptas los términos de esta política de privacidad.</p>
                    <p class="section__text section__text--last-with-margin">Gracias por confiar en <b>Magic Cinema</b>.</p>

                </div>
				<!-- end section text -->

			</div>
		</div>
	</section>

    <!-- end content -->
    
    <!-- footer -->
    <footer class=" footer">
        <div class="container">
            <div class="row justify-content-center">
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Sobre nosotros</h6>
                    <ul class="footer__list">
                        <li><a href="QuienesSomos.html">Quienés somos</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
    
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Legal</h6>
                    <ul class="footer__list">
                        <li><a href="AvisLegal.html">Aviso Legal</a></li>
                        <li><a href="CondicionesCompra.html">Condiciones de compra</a></li>
                        <li><a href="politicas.html">Políticas de privacidad</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
    
                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3">
                    <h6 class="footer__title">Contacto</h6>
                    <ul class="footer__list">
                        <li><a href="tel:+34624233403">+34 624 23 34 03</a></li>
                        <li><a href="mailto:atencionalclient@cinemmagic.com">atencionalclient@magiccinema.com</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- JS -->
    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/owl.carousel.min.js"></script>
    <script src="../../assets/assets/js/jquery.mousewheel.min.js"></script>
    <script src="../../assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/wNumb.js"></script>
    <script src="../../assets/js/nouislider.min.js"></script>
    <script src="../../assets/js/plyr.min.js"></script>
    <script src="../../assets/js/jquery.morelines.min.js"></script>
    <script src="../../assets/js/photoswipe.min.js"></script>
    <script src="../../assets/js/photoswipe-ui-default.min.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html>