<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../../assets/css/nouislider.min.css">
    <link rel="stylesheet" href="../../assets/css/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/plyr.css">
    <link rel="stylesheet" href="../../assets/css/photoswipe.css">
    <link rel="stylesheet" href="../../assets/css/default-skin.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../../assets/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="../../assets/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Magic Cinema - Quienés Somos</title>

</head>

<body class="body">

    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a href="../../index.php" class="header__logo">
                                <img src="../../assets/img/Magic_Cinema-removebg-preview.png" alt="">
                            </a>
                            <!-- end header logo -->

                            <!-- header nav -->
                            <ul class="header__nav">
                                <li class="header__nav-item">
                                    <a href="../cartelera.php" class="header__nav-link">Cartelera</a>
                                </li>
                                <!-- dropdown -->
                                <li class="header__nav-item">
                                    <a href="../promociones.php" class="header__nav-link">Promociones</a>
                                </li>
                                <!-- end dropdown -->

                                <li class="header__nav-item">
                                    <a href="../experiencias.php" class="header__nav-link">Experiencias</a>
                                </li>

                                <li class="header__nav-item">
                                    <a href="../contactanos.php" class="header__nav-link">Contactanos</a>
                                </li>
                                <!-- end dropdown -->
                            </ul>
                            <!-- end header nav -->

                            <!-- header auth -->
                            <div class="header__auth">
                                <a href="FormLogin.html" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <span>Iniciar Sesión</span>
                                </a>
                            </div>
                            <a href="FormRegister.html" class="header__sign-in">
                                <i class="icon ion-ios-log-in"></i>
                                <span>Registrarse</span>
                            </a>
                            <!-- end header auth -->

                            <!-- header menu btn -->
                            <button class="header__btn" type="button">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <!-- end header menu btn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="home">
        <!-- home bg -->
        <div class="owl-carousel home__bg">

            <div class="item home__cover" data-bg="../../assets/img/home/home__bg4.jpg"></div>
        </div>
        <!-- end home bg -->
    </section>

    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">Acerca de Magic Cinema </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">En Magic Cinema, nos enorgullece
                            ofrecer una experiencia cinematográfica única que va más allá de lo convencional. Desde
                            nuestra fundación, nos hemos comprometido a transportar a nuestros espectadores a mundos
                            fascinantes y emocionantes a través de la magia del cine. Cada proyección en nuestras salas
                            está cuidadosamente seleccionada para proporcionar una variedad de historias cautivadoras
                            que atraen a todo tipo de audiencias.</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">Nuestra misión en Magic Cinema va
                            más allá de simplemente presentar películas; nos esforzamos por crear un ambiente mágico
                            donde la emoción y la maravilla se entrelazan. Con tecnología de vanguardia y un diseño de
                            sala innovador, ofrecemos no solo una proyección, sino una inmersión completa en el séptimo
                            arte. Desde los clásicos atemporales hasta los éxitos más recientes, Magic Cinema es el
                            destino donde la magia del cine cobra vida.</p>
                        <p style="color: #fff; font-family: 'Open Sans', sans-serif;">En el corazón de Magic Cinema está
                            nuestro compromiso con la comunidad cinematográfica. Fomentamos la conexión entre amantes
                            del cine al proporcionar un espacio acogedor para compartir experiencias y debatir sobre las
                            películas que nos apasionan. En cada función, celebramos la magia de contar historias en la
                            pantalla grande y anticipamos con emoción las muchas aventuras cinematográficas que el
                            futuro tiene reservadas para nuestros espectadores. ¡Bienvenidos a Magic Cinema, donde la
                            magia del cine se convierte en una experiencia verdaderamente extraordinaria!.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class=" footer">
        <div class="container">
            <div class="row justify-content-center">
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Sobre nosotros</h6>
                    <ul class="footer__list">
                        <li><a href="QuienesSomos.html">Quienés somos</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
    
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Legal</h6>
                    <ul class="footer__list">
                        <li><a href="AvisLegal.html">Aviso Legal</a></li>
                        <li><a href="CondicionesCompra.html">Condiciones de compra</a></li>
                        <li><a href="politicas.html">Políticas de privacidad</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
    
                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3">
                    <h6 class="footer__title">Contacto</h6>
                    <ul class="footer__list">
                        <li><a href="tel:+34624233403">+34 624 23 34 03</a></li>
                        <li><a href="mailto:atencionalclient@cinemmagic.com">atencionalclient@magiccinema.com</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
            </div>
        </div>
    </footer>
    <!-- end footer -->
    
    <!-- JS -->
    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/owl.carousel.min.js"></script>
    <script src="../../assets/js/jquery.mousewheel.min.js"></script>
    <script src="../../assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../assets/js/wNumb.js"></script>
    <script src="../../assets/js/nouislider.min.js"></script>
    <script src="../../assets/js/plyr.min.js"></script>
    <script src="../../assets/js/jquery.morelines.min.js"></script>
    <script src="../../assets/js/photoswipe.min.js"></script>
    <script src="../../assets/js/photoswipe-ui-default.min.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html>